volumes:
  git-mirror_repos: {}

services:
  git-mirror:
    container_name: git-mirror
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./containers/Dockerfile
      args:
        UV_IMG_VER: ${UV_IMG_VER:-0.5.11}
        PYTHON_IMG_VER: ${PYTHON_IMG_VER:-3.12-slim}
    working_dir: /project
    environment:
      DYNACONF_LOG_LEVEL: ${LOG_LEVEL:-INFO}
      DYNACONF_LOG_DIR: ${LOG_DIR:-/data/logs}
      DYNACONF_MIRRORS_FILE: ${MIRRORS_FILE:-mirrors.json}
      DYNACONF_REPOSITORIES_DIR: ${CONTAINER_REPOSITORIES_DIR:-/data/repositories}
    volumes:
    #   - .:/project
      ## SSH (use only 1 volume mount below)
      # Mount ~/.ssh directory from host to container in READ-ONLY mode
      # - ./containers/ssh/:/gituser/.ssh:ro
      # Use host's SSH directory.
      - ~/.ssh:/home/gituser/.ssh:ro
      ## Container repositories dir where repos will be cloned
      - git-mirror_repos:/data/repositories
      ## Path to logs directory in container
      - ./containers/logs:/project/logs
    ## Drop into a Bash prompt for debugging
    command: sleep infinity
    ## Run the project with uv
    # command: uv run src/git_mirror/main.py
